.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #fff;
  background-color: inherit;
}

.nav:nth-child(1) {
  position: relative;
  z-index: 10;
}

.nav__element {
  color: #fff;
  font-family: sans-serif;
  font-size: 16px;
}

.button-tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  border: none;
  background-color: unset;
  cursor: pointer;
}

.nav__element-icon {
  width: 30px;
  height: 30px;
  color: #fff;
}

.icon_tasks {
  background-image: url(../../images/task.svg);
}

.weather {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 6px;
  grid-template-areas:
      ". ."
      "city city";
  align-items: end;
}

.nav__element-temperature {
  font-size: 24px;
}

.city { 
  align-self: center;
  justify-self: center;
  grid-area: city;
}

.icon_weather {
  background-image: url(../../images/sunny.svg);
}