.nav {
  background-color: inherit;
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__element {
  font-size: 16px;
  color: #fff;
  font-family: sans-serif;
}

.tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  background-color: unset;
  border: none;
  cursor: pointer;
}

.icon_tasks {
  color: #fff;
  width: 30px;
  height: 30px;
  background-image: url(../../images/task.svg);
}