.page {
  display: flex;
  padding: 100px;
  background-color: cadetblue;
}

.page__content {
  position: relative;
  min-width: 500px;
  max-width: 800px;
  min-height: 500px;
  margin-inline: auto;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  inset-inline: 0;
  inset-block-start: calc(50% - 500px);
}

.page__content::after {
  content: "";
  position: absolute;
  inset: 0;
  min-width: 100%;
  min-height: 100%;
  margin: auto;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.35);
}

.image_night {
  background-image: url(../../images/01.jpg);
}

.image_morning {
  background-image: url(../../images/02.jpg);
}

.image_day {
  background-image: url(../../images/03.jpg);
}

.image_evening {
  background-image: url(../../images/04.jpg);
}