.page {
  padding: 100px;
  background-color: cadetblue;
  display: flex;
}

.page__content {
  margin-inline: auto;
  inset-inline: 0;
  inset-block-start: calc(50% - 500px);
  min-width: 500px;
  min-height: 500px;
  max-width: 800px;
  border-radius: 30px;
  background-image: url(../../images/04.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.page__content::after {
  position: absolute;
  content: "";
  inset: 0;
  margin: auto;
  min-width: 100%;
  min-height: 100%;
  
  border-radius: 30px;
  background-color: rgba(0,0,0, 0.35); 

}
